<script>
$(document).ready(function(){
	$('#mobileMenu').click(function(){
		$('ul#menu').slideToggle()
		$('div#click-to-close').fadeToggle()
	})

	$('div#click-to-close').click(function(){
		$('div#click-to-close').fadeToggle();
		$('ul#menu').slideToggle()
	})

})
</script>

<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
       <span id="mobileMenu"><i class="ion-android-menu"></i> Brett Rowley</span>
        <ul id="menu" class="nav navbar-nav">
          <li><a id="deskHome" href="/">Brett Rowley</a><a id="mobileHome" href="/">Home</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/photography">Photography</a></li>
          <li><a href="/sandbox">The Sandbox</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>

<div id="click-to-close"></div>
