$color-red: #F64747
$color-blue: #59ABE3
$color-purple: #9B59B6
$color-yellow: #F5AB35
$color-green: #1BA39C
$color-gray: #95A5A6
$color-trans-black: rgba(0,0,0,0.05)

$max-width: 900px
$banner-height: 200px
$page-offset: 50px
$breakpoint: 600px
$transition-fade: 0.25s

.shadowed
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.3)

html,body
	padding: 0
	margin: 0
	background: #fafafa
	font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif

a:not(.btn)
	color: #3498db
	transition: $transition-fade
	&:hover
		@media (min-width: $breakpoint)
			background: $color-trans-black
a.btn
	color: white
	border-radius: 3px
	text-decoration: none
	transition: background $transition-fade
	background: $color-gray
	&:hover
		background: darken($color-gray, 10%)
	&.btn-light
		color: #333
		background: #f0f0f0
		&:hover
			background: #e6e6e6
	&.btn-red
		background: $color-red
		&:hover
			background: darken($color-red, 10%)
	&.btn-blue
		background: $color-blue
		&:hover
			background: darken($color-blue, 10%)
	&.btn-purple
		background: $color-purple
		&:hover
			background: darken($color-purple, 10%)
	&.btn-yellow
		background: $color-yellow
		&:hover
			background: darken($color-yellow, 10%)
	&.btn-green
		background: $color-green
		&:hover
			background: darken($color-green, 10%)











.navbar.banner
	height: $banner-height
	color: white
	margin: 0
	z-index: 0
	background: linear-gradient(darken($color-red, 12%), $color-red)
	&.resume
		background: linear-gradient(darken($color-blue, 15%), $color-blue)
	&.portfolio
		background: linear-gradient(darken($color-purple, 9%), $color-purple)
	&.sandbox
		background: linear-gradient(darken($color-yellow, 12%), $color-yellow)
	&.contact
		background: linear-gradient(darken($color-green, 7%), $color-green)
	.menu
		list-style: none
		margin: 0
		padding: 0
		width: 100%
		max-width: $max-width
		margin: 0 auto
		padding-top: calc((#{$banner-height} - 2.33*#{$page-offset})/1)
		font-size: 0px
		z-index: 1
		li
			display: inline-block
			margin: 0
			a
				font-size: 18px
				color: white
				text-decoration: none
				padding: 1em
				display: inline-block
				border-bottom: 7px solid rgba(0,0,0,0)
				&.active
					border-color: white
					font-weight: bolder
				&:not(.active):hover
					border-color: $color-trans-black






.page
	width: 100%
	max-width: $max-width
	margin: -$page-offset auto 50px
	padding: 0
	background: white
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.11)
	z-index: 2
	.header
		padding: 0 30px
		h1
			display: inline-block
			margin: 0
			line-height: 2*$page-offset
			cursor: default
		a
			padding: 0 1em
			line-height: 3em
			float: right
			margin-top: 30px
			font-weight: bolder
			&.btn
				margin-left: 1em
		&.banner
			background-size: cover
			background-repeat: no-repeat
			background-position: center center
			height: 1.5*$banner-height
			h1, a
				color: white
				text-shadow: 0px 1px 6px rgba(0,0,0,0.75)

	.content
		padding: 0 30px 30px
		.card
			display: inline-block
			width: 100%
			padding: 0
			text-decoration: none !important
			margin-bottom: 100px
			.image
				display: inline-block
				width: 100%
				height: 300px
				background: $color-gray
				background-size: cover
				background-repeat: no-repeat
				background-position: center center
				img
					width: 100%
			.desc
				color: #333

				padding: 15px













.page.contact .content
	text-align: center
	#contactButtons
		padding: 100px 30px
	a.btn
		display: inline-block
		border-radius: 50%
		margin: 30px
		vertical-align: top
		.text
			font-size: 18px
			position: absolute
			color: #333
			margin-top: -30px
			margin-left: -100px
			width: 100px
			color: $color-gray
			font-weight: bolder
		i
			font-size: 40px
			display: inline-block
			height: 100px
			width: 100px
			line-height: 100px
			text-align: center
