$color-brand: #F64747
$color-resume: #59ABE3
$color-portfolio: #9B59B6
$color-sandbox: #F5AB35
$color-contact: #1BA39C
$color-trans-black: rgba(0,0,0,0.05)

$max-width: 900px
$banner-height: 200px
$page-offset: 50px
$breakpoint: 600px
$transition-fade: 0.25s

html,body
	padding: 0
	margin: 0
	background: #fafafa
	font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif

a:not(.btn)
	color: #3498db
	transition: $transition-fade
	&:hover
		@media (min-width: $breakpoint)
			background: $color-trans-black


.navbar.banner
	height: $banner-height
	color: white
	margin: 0
	z-index: 0
	background: linear-gradient(darken($color-brand, 12%), $color-brand)
	&.resume
		background: linear-gradient(darken($color-resume, 15%), $color-resume)
	&.portfolio
		background: linear-gradient(darken($color-portfolio, 9%), $color-portfolio)
	&.sandbox
		background: linear-gradient(darken($color-sandbox, 12%), $color-sandbox)
	&.contact
		background: linear-gradient(darken($color-contact, 7%), $color-contact)
	.menu
		list-style: none
		margin: 0
		padding: 0
		width: 100%
		max-width: $max-width
		margin: 0 auto
		padding-top: calc((#{$banner-height} - 2.33*#{$page-offset})/1)
		font-size: 0px
		z-index: 1
		li
			display: inline-block
			margin: 0
			a
				font-size: 18px
				color: white
				text-decoration: none
				padding: 1em
				display: inline-block
				border-bottom: 7px solid rgba(0,0,0,0)
				&.active
					border-color: white
					font-weight: bolder
				&:not(.active):hover
					border-color: $color-trans-black

.page
	width: 100%
	max-width: $max-width
	margin: -$page-offset auto 50px
	padding: 0 30px 30px
	background: white
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.11)
	z-index: 2
	.header
		h1
			display: inline-block
			margin: 0
			line-height: 2*$page-offset
			cursor: default
		a
			padding: 0 1em
			line-height: 3em
			float: right
			margin-top: 30px
			font-weight: bolder
			&.btn
				background: $color-brand
				border-radius: 3px
				color: white
				text-decoration: none
				margin-left: 1em
	.content

.page.contact .content
	h3 a
		display: block
		padding: 3em
		text-decoration: none
