---
layout: default
title: Blog
---
<style>
#recent-posts{
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.post-snip{
  padding-bottom: 50px;
}

h1{
  font-weight: bold;
  text-align: center;
}

h3{
  font-weight: 300;
  margin-bottom: 5px !important;
}

.date{
  display: block;
  margin-bottom: 10px;
}
</style>
<div id="recent-posts">
<h1>Recent Posts</h1>
<hr>
{% assign sorted_pages = (site.pages | sort: 'created') %}
{% for article in sorted_pages reversed%}
  {% if article.layout == "post" %}
  <div class="post-snip">
    <div id="snip-header" style="color: white !important; background-image: url('img/{{article.created}}.jpg'); overflow: hidden; background-size: 100%; padding-left: 15px; margin-bottom: 10px">
    <a href="{{article.url}}"><h3>{{article.headline}}</h3></a>
    <span class="date" style="color:">{{article.date}}</span>
  </div>
    {{ article.content | strip_html | truncatewords:50}}
          </div>
  {% endif %}
{% endfor %}
</div>