body{
	/*background-image:url(Images/espresso_blur_desktop.jpg);*/
	background-image:url(Images/espresso_background.png);
	/*background: #2c3e50;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	text-align:center;
	color: white;
}

div.container-fluid{
	padding-top: 10vw;
	font-size: 16pt;
	font-weight: 300;
}

button#espresso{
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.5em;
	
	background: rgba(0,0,0,0.3);
	border: 5px solid white;
	border-radius: 10px;

	margin: 50px auto 150px;

	transition: 0.25s;	
}

button#espresso:hover{
	background: rgba(255,255,255,0.1);	
}


a.btn.action{
	background: rgba(0,0,0,0.3);
	border: 3px solid white;
	border-radius: 50%;
	color: white;
	font-size: 30pt;
	width: 75px;
	display: inline-block;
	cursor: pointer;
	margin: 10px 5px;
	transition: 0.25s;
}

a.btn.action:hover{
	background: rgba(255,255,255,0.1);		
}

a.btn#refresh {
	border-color: #e74c3c;
	color: #e74c3c;
}
a.btn#directions {
	border-color:#2ecc71;
	color:#2ecc71;
}
a.btn#yelp {
	border-color: #f1c40f;
	color: #f1c40f;
}

h1#name{
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
}

#result{margin-top:50px;}

/*style changes for desktop*/
@media screen and (min-width: 768px) {
	button#espresso{
		font-size: 2.5em;
		border: 10px solid white;
		border-radius: 20px;
	}

	h1#name{
		font-size: 2.5em;
	}

	a.btn.action{margin: 10px 15px;}

	div#result p{
		font-size: 1.5em;
	}

}